RewriteEngine On
RewriteRule ^mision.jsp$ view/Mod_tierra/tierra.php

#controller de tierra
RewriteRule ^Gentabla.jsp$ controller/Mod_tierra/genTabla.php
RewriteRule ^CrearPersona.jsp$ controller/Mod_tierra/CrearPersona.php
RewriteRule ^ListaCliente.jsp$ view/Mod_tierra/ListaCliente.php
RewriteRule ^SoloListaCliente.jsp$ controller/Mod_tierra/SoloLista.php
